<mat-accordion class="card-container">

  <mat-expansion-panel class="book-card" *ngFor="let book of books" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ book.title }}
      </mat-panel-title>
      <mat-panel-description class="book-author">
        {{ book.author }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <p>{{ book.description }}</p>

    <mat-chip-list aria-label="Fish selection">
      <mat-chip *ngFor="let genre of book.genre">{{ genre }}</mat-chip>
    </mat-chip-list>

    <mat-card-actions class="book-actions">
      <button mat-icon-button aria-label="Edit a book">
        <mat-icon style="margin: 5px;" color="accent" aria-hidden="false" aria-label="edit a book">edit
        </mat-icon>
      </button>

      <button mat-icon-button aria-label="Delete a book" (click)="deleteBook(book)">
        <mat-icon style="margin: 5px;" color="accent" aria-hidden="false" aria-label="delete a book">delete
        </mat-icon>
      </button>
    </mat-card-actions>

  </mat-expansion-panel>
</mat-accordion>