.form-container
  width: 100%
  display: flex
  justify-content: center

.form-group
  display: flex
  flex-flow: column
  width: 80%
  box-shadow: 0 1.5px 3px rgba(0,0,0,0.16), 0 1.5px 3px rgba(0,0,0,0.23)
  padding: 20px

.actions
  display: flex
  justify-content: flex-end

button
  margin: 5px